*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

@media only screen and (max-width: 1800px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 67.25%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 57.25%;
  }
}

@media only screen and (min-width: 1800px) {
  /* 1rem = 9px, 9/16 = 56.25% */
  html {
    font-size: 90%;
  }
}

/* --------------- */
/* margin media queries */
/* @media only screen and (min-width: 600px) {
  body {
    margin: 5em 5em 0 5em;
  }
}

@media only screen and (min-width: 900px) {
  body {
    margin: 5em 8em 0 8em;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    margin: 8.5em 8.5em 0 8.5em;
  }
} */

body {
  font-weight: 400;
  line-height: 1;
  min-height: 100vh;
  color: white;
  font-family: BalooThambi2-Regular;
}

strong {
  font-family: BalooThambi2-Bolder;
}

:root {
  --color-purple: rgb(153, 102, 255);
  --color-purple-dark: rgb(85, 57, 188);
  --color-pink: rgb(219, 66, 102);
  --color-pink-light: rgb(249, 176, 195);
  --color-yellow: rgb(252, 235, 74);
  --color-yellow-light: rgb(253, 249, 213);
  --color-blue: rgb(92, 167, 220);
  --color-blue-dark: rgb(37, 71, 151);
  --color-green: rgb(110, 213, 158);

  --color-grey-light1: rgb(250, 249, 249);
  --color-grey-light2: rgb(244, 242, 242);
  --color-grey-light3: rgb(242, 241, 241);
  --color-grey: rgb(204, 204, 204);
  --color-grey-dark-1: rgb(51, 51, 51);
  --color-grey-dark-2: rgb(119, 119, 119);
}
