*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

@media only screen and (max-width: 1800px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 67.25%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 57.25%;
  }
}

@media only screen and (min-width: 1800px) {
  /* 1rem = 9px, 9/16 = 56.25% */
  html {
    font-size: 90%;
  }
}

/* --------------- */
/* margin media queries */
@media only screen and (min-width: 600px) {
  body {
    margin: 5em 5em;
  }
}

@media only screen and (min-width: 900px) {
  body {
    margin: 8em 8em;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    margin: 8.5em 8.5em;
  }
}

body {
  font-weight: 400;
  line-height: 1;
  min-height: 100vh;
  color: white;
  font-family: BalooThambi2-Regular;
}

strong {
  font-family: BalooThambi2-Bolder;
  font-size: 1.3em;
}

:root {
  --color-purple: #9966ff;
  --color-purple-dark: #5539bc;
  --color-pink: #db4266;
  --color-pink-light: #f9b0c3;
  --color-yellow-: #fceb4a;
  --color-yellow-light: #fdf9d5;
  --color-blue: #5ca7dc;
  --color-blue-dark: #254797;

  --color-grey-light1: #faf9f9;
  --color-grey-light2: #f4f2f2;
  --color-grey-light3: #f2f1f1d9;
  --color-grey: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;

  --line-light: 1px solid var(--color-grey-light2);
  --shadow-light: 0 2rem 4rem rgba(0, 0, 0, 0.06);
}
