*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 600px) {
  html {
    /* rem = 9px, 9/16 = 56.25% */
    font-size: 50%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    /* 1rem = 9px, 9/16 = 56.25% */
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 1800px) {
  /* 1rem = 9px, 9/16 = 56.25% */
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 600px) {
  body {
    margin: 10em 20em;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
  min-height: 100vh;
  color: var(--color-grey-dark-2);
}

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light1: #faf9f9;
  --color-grey-light2: #f4f2f2;
  --color-grey-light3: #f0eeee;
  --color-grey: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: rgba;

  --color-purple: rgb(141, 35, 212);
  --color-pink: rgb(230, 31, 123);

  --line-light: 1px solid var(--color-grey-light2);
  --shadow-light: 0 2rem 4rem rgba(0, 0, 0, 0.06);
}
